@tailwind base;
@tailwind components;
@tailwind utilities;

@import "vue-select/src/scss/vue-select.scss";

$vs-dropdown-bg: rgb(229, 229, 229);

.vs__dropdown-menu {
  background: rgb(229, 229, 229);
  border: none;
  color: #394066;
  border-radius: 10px;
  margin-top: 5px;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #394066;
}
.vSelectId{
    border:  none;
}
#vs1__combobox{
    border: none;
    background-color: rgb(229, 229, 229);
    color: black;
    border-radius: 0.375rem;
    input{
        padding-bottom: 0.2rem !important;
        padding-top: 0.2rem !important;
        padding-right: 0.75rem !important;
        padding-left: 0.75rem !important;
    }
    .vs__selected{
        background-color: rgb(0, 204, 255);
        color: #fff;
        border: none;
    }
}
