@tailwind base;
@tailwind components;
@tailwind utilities;

//@import "~@glidejs/glide/src/assets/sass/glide.core";
@import '~swiper/swiper-bundle.css';

#particles-js{
    canavas{
        position: absolute;

        z-index: 100;
    }
}
.specBg{
    // background-color:#00081e !important;
    // background-color: #fff;
    background: url("/public/images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 0 rgb(87, 87, 87, 1);
}
.TextSpecBg{
    // color:#00081e !important
    color: white;
    background: url("/public/images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
